body{background-image:url(../images/pupil.jpeg);
     background-repeat: repeat-x;
     background-clip: border-box;
     background-color:silver;
     background-blend-mode:multiply;
}
nav{
      display: flex;
      justify-content:center;
      align-items:center;
      padding:0;
      position: fixed;
      top:0px;
      left: 0;
      z-index:2;
      width: 100%;
      flex-direction: row;
}
.dropdown{
      position: relative;
        display: inline-block;
}

.dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 100%;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 2;
      text-align: center;
}
       .dropdown:hover .dropdown-content{
            display: block;
} 
      button,#style{
            margin-left: 30px;
            margin-top:0px;
            font-size:25px;
            font-family: 'Times New Roman', Times, serif;
            border: none;
            background:none;
            color: #f9f9f9;
            word-spacing: 5px;
}
      a{
            text-decoration: none;
            color: black;
            font-size:20px;
            font-weight: lighter;
}
      a:hover{
          background-color:gray;
}
      .container{
            display: block;
            background-image: url(../images/logo.jpeg);
            background-repeat: repeat-x;
             background-clip: border-box;
             background-size: contain;
             background-blend-mode: multiply;
             background-color:gray;
}
      h1{
            margin-top:200px;
            color:white;
            text-align: center;
            font-size:50px;
            text-transform: uppercase;
            text-shadow:0.5px 0.5px white;
}
      p{
            color:white;
            font-family: 'Times New Roman', Times, serif;
            letter-spacing: 1.5px;
            font-size: 30px;
            text-align: center;
            word-spacing: 5px;
            line-height:90px;
            margin-top:-40px;
            text-indent: 5px;
            font-weight: bold;
}
      abbr{
            text-decoration: none;
 }
      abbr:hover{
            color:red;
}
      title{
            color: white;
            font-size: 50px;
}
      section{
      font-family: 'Times New Roman', Times, serif;
      font-size:20px;
      line-height:30px;
      float: right;
      margin-right:25px;
      margin-top:-200px;
      word-spacing: 5px;
      letter-spacing:0.5px;
      color: #f9f9f9;
}
